<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms Overview</title>
</head>
<body>

<h2>department view</h2>

<table border="1">
    <thead>
        <tr>
           <th>Department Name</th>
            <th>Total Staff Members</th>
            <th>Number of Doctors</th>
            <th>Number of Nurses</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row['longName'] }}</td> 
            <td>{{ row['total_staff_members'] }}</td> 
            <td>{{ row['count_doc'] }}</td> 
            <td>{{ row['count_nurse'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/tableClean.js"></script>

</body>
</html>
